<head>
    <title>ISSUE TRACKER</title>
    <link rel="stylesheet" type="text/css" href="/Content/My css/Home.css">
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">

</head>

<body>
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Welcome stranger!</h1>
                        <h3>Welcome to our blog. To start writing, please log in!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://is.muni.cz/auth/el/1433/jaro2018/PA036/um/PA036-uvod.pdf?fakulta=1433;obdobi=7024;studium=795636;predmet=990552;lang=cs" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">About</span></a>
                            </li>
                            <!--<li>
            <a href="/home/contact" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Contact</span></a>
        </li>
        <li>
            <a href="/home/about" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Deadlines</span></a>
        </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>